body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.navbar {
    background-color: #4CAF50; /* Green background */
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

h2 {
    text-align: center;
    margin: 20px 0;
}

.current-projects, .lines-of-code {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.project-highlights {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.grid-item {
    background-color: #e7e7e7;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.footer {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
}
